@model Model.EF.Menu

@{
    ViewBag.Title = "Create Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@if (TempData["ErrorCreate"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorCreate"].ToString()</div>
}

@using (Html.BeginForm("Create", "Menu", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tạo mới Menu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Tên:", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.Label("Đường dẫn (viết liền và dấu -):", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.Label("Thứ tự hiển thị:", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.Label("Target:", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.TextBoxFor(model => model.Target, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Target, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.Label("Nhóm Menu:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TypeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Trạng thái:", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
