@model PagedList.IPagedList<Model.EF.Menu>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Manage Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"].ToString()</div>
}

@section header{
    Danh sách Menu
}

@section jsFooter{
    
<script src="/assets/admin/js/controller/menuController.js"></script>

}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @using (Html.BeginForm("Create", "Menu", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <button type="submit" class="btn-primary" >Tạo mới</button>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên</th>
                                <th>Đường dẫn</th>
                                <th>Thứ tự</th>
                                <th>Target</th>
                                <th>Loại</th>
                                <th>Trạng thái</th>
                                <th>Tác vụ</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Tên</th>
                                <th>Đường dẫn</th>
                                <th>Thứ tự</th>
                                <th>Target</th>
                                <th>Loại</th>
                                <th>Trạng thái</th>
                                <th>Tác vụ</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">
                                    <td>@item.ID</td>
                                    <td>@item.Text</td>
                                    <td>@item.Link</td>
                                    <td>@item.DisplayOrder</td>
                                    <td>@item.Target</td>
                                    <td>@item.TypeID</td>
                                    <td><a href="#" class="btn-block" data-id="@item.ID">@(item.Status ? "Actived" : "Blocked")</a> </td>
                                    <td>
                                        <a href="/Admin/Menu/Edit/@item.ID">Edit</a>
                                        @Ajax.ActionLink("Delete", "Delete", new { @id = @item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Thật sự muốn xóa?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>