@model Model.EF.Slide

@{
    ViewBag.Title = "Edit Slide";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@if (TempData["ErrorUpdate"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorUpdate"].ToString()</div>
}

@if (TempData["ErrorCreate"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorCreate"].ToString()</div>
}
@section header{
    Cập nhật slide
}

@section jsFooter{
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var editor_1 = CKEDITOR.replace('txtDescriptions');
        });

        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })

    </script>
}


@using (Html.BeginForm("Edit", "Slide", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Tên slide:", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Ảnh slide:", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @id = "txtImage" }, id = "txtImage" })
            <a id="btnSelectImage" href="#">Chọn ảnh</a>
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Thứ tự hiển thị:", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Đường dẫn", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Giới thiệu:", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(model => model.Descriptions, new { htmlAttributes = new { @class = "form-control" }, @id = "txtDescriptions" })
            @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
