@model Model.EF.PostComment

@{
    ViewBag.Title = "Edit PostComment";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@if (TempData["ErrorUpdate"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorUpdate"].ToString()</div>
}

@if (TempData["ErrorCreate"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorCreate"].ToString()</div>
}
@section header{
    Chỉnh sửa bình luận bài viết
}

@using (Html.BeginForm("Edit", "Comment", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.PostID)
        @Html.HiddenFor(model => model.UserID)

        <div class="form-group">
            @Html.Label("Link ảnh bình luận", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.CommentImage, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CommentImage, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" }, id = "txtContent" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
